.meme-header {
  margin-bottom: 10px;

  .header-tile {
    width: 100%;
    height: 90%;
    line-height: 150%;

    &.title {
      font-size: 40px;
    }

    &.controls {
      .control-tile {
        width: 100%;

        &.search {
          text-align: right;

          .search-input {
            width: 100%;
            height: 30px;
            border: none;
            border-radius: 6px;
            padding-left: 5px;
            outline: none;
          }
        }

        &.layout-options {
          text-align: right;

          .mat-button-toggle-group {
            height: 30px;

            ::ng-deep .mat-button-toggle-label-content {
              line-height: 30px !important;
            }
          }
        }
      }
    }
  }
}

// .meme-header {
//   position: relative;
//   top: 0;
//   height: 60px;
//   width: 100%;

//   .title {
//     height: 100%;
//     width: 40%;
//     vertical-align: middle;
//     font-size: 40px;
//     line-height: 60px;
//   }

//   .controls {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 60%;
//     float: right;

//     & > div {
//       float: right;
//       padding: 10px 20px;
//     }

//     .column-options {
//       button {
//         color: grey;
//         border: none;
//         cursor: pointer;

//         &.selected {
//           color: black;
//         }

//         mat-icon {
//           font-size: 29px;
//         }
//       }
//     }

//     .search-box {
//       .search-input {
//         height: 30px;
//         border: none;
//         border-radius: 6px;
//         padding-left: 5px;
//         outline: none;
//       }

//       .search-button {
//         border: none;
//         cursor: pointer;
//       }
//     }
//   }
// }
